# Project
PROJECT_NAME=coffee-dw-cccv

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_LOCAL_HOST=127.0.0.1
POSTGRES_PORT=5433
POSTGRES_DB=coffee_dw
POSTGRES_USER=coffee_user
POSTGRES_PASSWORD=coffee_password

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# Airflow
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=./airflow
AIRFLOW_IMAGE_NAME=coffee-dw-airflow:latest
AIRFLOW_ADMIN_USERNAME=airflow
AIRFLOW_ADMIN_PASSWORD=airflow
AIRFLOW_ADMIN_FIRSTNAME=Airflow
AIRFLOW_ADMIN_LASTNAME=Admin
AIRFLOW_ADMIN_EMAIL=airflow@example.com

# Source
CCCV_COTACAO_URL=https://www.cccv.org.br/cotacao/