# Project
PROJECT_NAME=coffee-dw-cccv

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=coffee_dw
POSTGRES_USER=coffee_user
POSTGRES_PASSWORD=coffee_password

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# Airflow
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=./airflow

# Source
CCCV_COTACAO_URL=https://www.cccv.org.br/cotacao/